a {
  text-decoration: none;
}

.container h1 {
  text-align: center;
  font-weight: bolder;
  color:#008B8B;
}

.box-container {
  width: 45%;
  margin-left: 27.5%;
}

img {
  border-radius : 100px;
}

.container {
  background-color: white;
  border-radius: 2px;
  margin:50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  margin: 16px 24px;
  text-align: center;
  size: 30px;
}

#link-wagon {
  color : white;
  text-align: center;
  text-decoration: none;
  background-color:#20B2AA;
  padding: 16px 24px;
  border-radius: 5px;
  width: 20%;
}

#link-wagon:hover {
  background-color:#008B8B;
}

ul {
  text-align:center;
  width:200px;
  margin:0 auto;
  padding :0;
}

li {
  color:#20B2AA;
  opacity: 0.4;
  display: inline;
}

li:hover {
  color:#20B2AA;
  opacity: 1;
}

@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .box-container {
    width: 60%;
    margin-left: 20%;
  }

  #link-wagon {
    width : 30%;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .box-container {
    width: 65%;
    margin-left: 20%;
  }
}

@media (max-width: 600px) {
  /* For a screen < 540px, this CSS will be read */
  .box-container {
    width: 80%;
    margin-left: 10%;
  }

  .container p {
    margin: 16px 24px;
    text-align: justify;
    size: 20px;
  }

  #link-wagon {
    color : white;
    text-align: center;
    text-decoration: none;
    background-color:#20B2AA;
    padding: 10px 15px;
    border-radius: 5px;
    width: 30%;
   }

  .container h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    color:#008B8B;
  }
}
